*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  position: fixed;
}

div img{
  position: relative;
  right: 11%;
  padding: 10;
}

div a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 19;
}

div button{
  position: relative;
  left: 10%;
  border: none;
  background-color: rgb(168, 85, 247);
  border-radius: 20px;
  font-size: 15;
  color: white;
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', 
  Calibri, 'Trebuchet MS', sans-serif;
  transform: background 1;
  cursor: pointer;
}

a:hover{
  color: rgb(168, 85, 247);
  transform: 0.3;
}

